body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.header{
    width: 100%;
    height: 700px;
    background-image: url(./img/bannerm.png);
    background-size: cover;
    background-position: center top;
}

.header h3 {
    color: white;
    font-size: 20px;
    position: relative;
    padding-top: 20px;
    padding-left: 10px;
    float: left;
}

.header h3 span{
    color :rgb(0, 185, 218);
    margin-right: 5px;
}

.header a{
    float:right;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    position: relative;
    top:40px;
    margin-right: 20px;
}

.header a span{
    margin-right: 10px;
}


.banner{
    clear: both;
    position: relative;
    top: 160px;
    text-align: center;
    color: white;
}

.banner h2{
    font-size: 40px;
    font-weight: 400;
}

.banner p{
    font-size: 17px;
    font-weight: 100;
    line-height: 26px;
}

.banner button{
    width: 130px;
    height: 42px;
    margin-top: 15px;
    background-color: #5385c1;
    border: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    border-color: #dbdbdb;
}

 .second-section{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}

.second-section .left{
    float: left;
    width: 30%;
    text-align: center;

}


.second-section .left img{
    border-radius: 100%;
    width: 100%;
    margin-top: 40px;
}

.second-section .right{
    float: right;
    width: 65%;  
}

.second-section .right h2{
    font-size: 25px;  
}

.second-section .right p{
 

    line-height: 25px;
}

.second-section .right button{
    width: 130px;
    height: 42px;
    margin-top: 15px;
    background-color: #5385c1;
    border: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    border-color: #dbdbdb;
}


.wrappert{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    background-color:rgb(61, 96, 110);
}

.third-section{
    width: 70%;
    margin: 0 auto;
}

.third-section .left{
    float: left;
    width: 70%;
    text-align: left;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 50px;


}

.third-section .right img{
    border-radius: 100%;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    margin-left: 10px;
}

.third-section .right{
    float: right;
    width: 30%;  
}

.third-section .left h2{
    font-size: 25px;  
    font-weight: 300;

}

.third-section .left p{
 

    line-height: 25px;
}

.third-section .left button{
    width: 130px;
    height: 42px;
    margin-top: 15px;
    background-color: #fff;
    border: 0;
    color: black;
    border-radius: 5px;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    border-color: #dbdbdb;
}

.forth-section{
    max-width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: whitesmoke;
}

.content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.content h2{
    font-size: 30px;
}

.content p{
    font-size: 15px;
    opacity: 50%;
}

.box{
    float: left;
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 20px;

}


.box p{

    line-height: 25px;
}

.box button{

    width: 130px;
    height: 42px;
    margin-top: 15px;
    background-color: #5385c1;
    border: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    border-color: #dbdbdb;
}

.content .box img{
    border-radius: 100%;
    width: 70%;
}

.footer {
    width: 100%;
    background-color: #fff;
}

.footer ul{
    font-size: 25px;
    text-align: center;
}

.footer .fa{
    color:gray;
    margin-right: 20px;
    border-radius: 100%;
    border: 2px solid #e7e6e6;
}

.footer p{
    font-size: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    opacity: 70%;
}